@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --cor0: #010137;
    --cor1: #FABB4C;
    --cor2: white;
    --cor3: black;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Squada One', cursive; 
}

body{
    background-color: #010137;
}

.container-fluid{
    background-color: #FABB4C;
}

 /* NAVBAR */
 #navbar {
    margin: 10px auto;
  }
  
  #navbar a {
    font-family: var(--fonte-destaque);
    font-size: 20px;
    width: 80px;
    color: #444;
    text-decoration: none;
    padding-left: 10px;
  }
  
  #navbar a:hover {
    color: #010137;
  }

  /* MAIN */

.noticias-fut {
    color: white;
}

.info-fut {
    display: block;
}



  
