@charset "UTF-8";

/* ESTILO GERAL */

:root {
    --cor0: #06213E;
    --cor1: #3184F1;
    --cor2: #FABB4C;
    --cor3: 
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: squada one, san-serif;
    
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #3184F1;
}
