@charset "UTF-8";

/* ESTILO GERAL */

:root {
    --cor0: #06213E;
    --cor1: #3184F1;
    --cor2: #FABB4C;
    --cor3: 
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #3184F1;
    height: 100vh;
}


div > h1{
    background-color: #FABB4C;
    height: 100px;
    width: 100%;
    text-align: center;
    font-family: Squada one;
    color: #06213E;
    font-size: 50px;
    margin-top: 50px;
}

.icon{
    padding:20px;
}